In [1]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols as sm_ols
from statsmodels.iolib.summary2 import summary_col

In [2]:
startups = (pd.read_csv('Startup Data/startup.csv'))
startups

,Year Ended,Surviving Establishments,Total Employment of Survivors,Survival Rates Since Birth (%),Labor Force Participation Rate (%)
0,Mar-15,"677,876","3,011,469",100.0,4.4
1,Mar-16,"539,701","3,073,279",79.6,5.7
2,Mar-17,"468,293","3,081,916",69.1,6.6
3,Mar-18,"416,438","3,075,769",61.4,7.4
4,Mar-19,"375,833","3,043,285",55.4,8.1
...,...,...,...,...,...
62,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN

In [3]:
selected_columns = ['Year Ended', 'Surviving Establishments']
startups_numbers  = startups[selected_columns]
startups_numbers.to_csv('Startup Data/startup_numbers.csv', index=False)

In [ ]:
wfh = (pd.read_csv('WFH_DATA'))
wfh

In [ ]:
wfh_startups = lambda how: pd.merge(left=wfh,
                                   right=startups,
                                   on=['fyear'],
                                   how=how,indicator=True,validate="one_to_one")

In [ ]:
# Run OLS
m1 = sm_ols('wfh% ~ startups#', data=wfh_startups).fit()
m2 = sm_ols('wfh% ~ log_startups#', data=wfh_startups).fit()
m3 = sm_ols('log_wfh% ~ startups#', data=wfh_startups).fit()

# Print out multiple regression results at once
table = summary_col(results=[m1,m2,m3],
                    float_format='%0.2f',
                    stars = True,
                    model_names=['m1','m2','m3'],
                    info_dict=info_dict)

print(table)

In [ ]:
lineplot1 = sns.lineplot(data = wfh_startups,
             x='wfh%',y='startups',hue='high_leverage') #style='gsector'

In [ ]:
lineplot2 = sns.lineplot(data = wfh_startups,
             x='wfh%',y='log_startups',hue='high_leverage') #style='gsector'

In [ ]:
lineplot3 = sns.lineplot(data = wfh_startups,
             x='log_wfh%',y='startups',hue='high_leverage') #style='gsector'