In [1]:
import pandas as pd
import seaborn as sns

https://wfhresearch.com/wp-content/uploads/2022/08/historical_wfh_readme.txt
2001 - 2019 samples have 1,000,000 - 3,300,000 respondents.

In [2]:
#startup = pd.read_csv('Startup Data/startup.csv')
WFH_Data = pd.read_csv('Work From Home Data/WFH 1965-present.csv')
#WFH_Data.head(50)
WFH_Data = WFH_Data.drop(columns = ['License', 'Citation'])

In [3]:
# converting the year into a format that can be merged on
WFH_Data['date'] = pd.to_datetime(WFH_Data['date'])
WFH_Data['year'] = WFH_Data['date'].dt.strftime('%Y')
WFH_Data.tail(55)

,date,WFH_share,Source_historical_series,fullremote_hist,Source_fullremote_hist,Notes,year
14,2011-01-01,4.6,ATUS,3.0,ACS,NaN,2011
15,2012-01-01,5.7,ATUS,3.1,ACS,NaN,2012
16,2013-01-01,5.4,ATUS,3.2,ACS,NaN,2013
17,2014-01-01,6.4,ATUS,3.3,ACS,NaN,2014
18,2015-01-01,6.8,ATUS,3.5,ACS,NaN,2015
19,2016-01-01,5.9,ATUS,3.9,ACS,NaN,2016
20,2017-01-01,6.9,ATUS,4.1,ACS,NaN,2017
21,2018-01-01,5.3,ATUS,4.2,ACS,NaN,2018
22,2019-01-01,7.2,ATUS,4.7,ACS,NaN,2019
23,2020-05-01,61.5,SWAA,NaN,NaN,NaN,2020
24,2020-07-01,51.0,SWAA,NaN,NaN,NaN,2020
25,2020-08-01,48.3,SWAA,NaN,NaN,NaN,2020
26,2020-09-01,44.3,SWAA,NaN,NaN,NaN,2020
27,2020-10-01,43.3,SWAA,NaN,NaN,NaN,2020
28,2020-11-01,38.8,SWAA,NaN,NaN,NaN,2020
29,2020-12-01,37.0,SWAA,NaN,NaN,NaN,2020
30,2021-01-01,36.8,SWAA,NaN,NaN,NaN,2021
31,2021-02-01,34.1,SWAA,NaN,NaN,NaN,2021
32,2021-03-01,34.6,SWAA,NaN,NaN,NaN,2021
33,2021-04-01,34.9,SWAA,NaN,NaN,NaN,2021
34,2021-05-01,32.9,SWAA,NaN,NaN,NaN,2021
35,2021-06-01,32.8,SWAA,NaN,NaN,NaN,2021
36,2021-07-01,33.6,SWAA,NaN,NaN,NaN,2021
37,2021-08-01,32.0,SWAA,NaN,NaN,NaN,2021
38,2021-09-01,32.5,SWAA,NaN,NaN,NaN,2021
39,2021-10-01,32.2,SWAA,NaN,NaN,NaN,2021
40,2021-11-01,33.1,SWAA,NaN,NaN,NaN,2021
41,2021-12-01,33.3,SWAA,NaN,NaN,NaN,2021
42,2022-01-01,32.4,SWAA,NaN,NaN,NaN,2022
43,2022-02-01,31.2,SWAA,NaN,NaN,NaN,2022
44,2022-03-01,31.1,SWAA,NaN,NaN,NaN,2022
45,2022-04-01,29.6,SWAA,NaN,NaN,NaN,2022
46,2022-05-01,31.5,SWAA,NaN,NaN,NaN,2022
47,2022-06-01,31.6,SWAA,NaN,NaN,NaN,2022
48,2022-07-01,30.6,SWAA,NaN,NaN,NaN,2022
49,2022-08-01,29.5,SWAA,NaN,NaN,NaN,2022
50,2022-09-01,29.1,SWAA,NaN,NaN,NaN,2022
51,2022-10-01,29.4,SWAA,NaN,NaN,NaN,2022
52,2022-11-01,28.9,SWAA,NaN,NaN,NaN,2022
53,2022-12-01,29.3,SWAA,NaN,NaN,NaN,2022
54,2023-01-01,27.2,SWAA,NaN,NaN,NaN,2023
55,2023-02-01,27.7,SWAA,NaN,NaN,NaN,2023
56,2023-03-01,28.7,SWAA,NaN,NaN,NaN,2023
57,2023-04-01,28.4,SWAA,NaN,NaN,NaN,2023
58,2023-05-01,28.2,SWAA,NaN,NaN,NaN,2023
59,2023-06-01,28.1,SWAA,NaN,NaN,NaN,2023
60,2023-07-01,30.7,SWAA,NaN,NaN,NaN,2023
61,2023-08-01,30.7,SWAA,NaN,NaN,NaN,2023
62,2023-09-01,29.4,SWAA,NaN,NaN,The September 2023 SWAA estimate averages the ...,2023
63,2023-10-01,28.0,SWAA,NaN,NaN,NaN,2023
64,2023-11-01,28.6,SWAA,NaN,NaN,NaN,2023
65,2023-12-01,29.5,SWAA,NaN,NaN,NaN,2023
66,2024-01-01,28.8,SWAA,NaN,NaN,NaN,2024
67,2024-02-01,27.8,SWAA,NaN,NaN,NaN,2024
68,2024-03-01,27.5,SWAA,NaN,NaN,NaN,2024

In [4]:
# only need years 2015 onward
filtered_WFH = WFH_Data.iloc[18:23]
filtered_WFH

,date,WFH_share,Source_historical_series,fullremote_hist,Source_fullremote_hist,Notes,year
18,2015-01-01,6.8,ATUS,3.5,ACS,NaN,2015
19,2016-01-01,5.9,ATUS,3.9,ACS,NaN,2016
20,2017-01-01,6.9,ATUS,4.1,ACS,NaN,2017
21,2018-01-01,5.3,ATUS,4.2,ACS,NaN,2018
22,2019-01-01,7.2,ATUS,4.7,ACS,NaN,2019

In [5]:
WFH_Data.loc[len(WFH_Data.index)] = ['NaN', "%.1f"%WFH_Data.loc[WFH_Data['year']=='2020', 'WFH_share'].mean(), 'NaN', 'NaN', 'NaN', 'NaN', 2020 ] 
WFH_Data.loc[len(WFH_Data.index)] = ['NaN', "%.1f"%WFH_Data.loc[WFH_Data['year']=='2021', 'WFH_share'].mean(), 'NaN', 'NaN', 'NaN', 'NaN', 2021 ] 
WFH_Data.loc[len(WFH_Data.index)] = ['NaN', "%.1f"%WFH_Data.loc[WFH_Data['year']=='2022', 'WFH_share'].mean(), 'NaN', 'NaN', 'NaN', 'NaN', 2022 ] 
WFH_Data.loc[len(WFH_Data.index)] = ['NaN', "%.1f"%WFH_Data.loc[WFH_Data['year']=='2023', 'WFH_share'].mean(), 'NaN', 'NaN', 'NaN', 'NaN', 2023 ] 
WFH_Data.loc[len(WFH_Data.index)] = ['NaN', "%.1f"%WFH_Data.loc[WFH_Data['year']=='2024', 'WFH_share'].mean(), 'NaN', 'NaN', 'NaN', 'NaN', 2024 ] 
WFH_Data

,date,WFH_share,Source_historical_series,fullremote_hist,Source_fullremote_hist,Notes,year
0,1965-01-01 00:00:00,0.4,AHTUS,NaN,NaN,NaN,1965
1,1975-01-01 00:00:00,0.6,AHTUS,NaN,NaN,NaN,1975
2,1985-01-01 00:00:00,4.8,AHTUS,NaN,NaN,NaN,1985
3,1993-01-01 00:00:00,2.5,AHTUS,NaN,NaN,NaN,1993
4,1995-01-01 00:00:00,2.2,AHTUS,NaN,NaN,NaN,1995
...,...,...,...,...,...,...,...
69,NaN,46.3,NaN,NaN,NaN,NaN,2020
70,NaN,33.6,NaN,NaN,NaN,NaN,2021
71,NaN,30.3,NaN,NaN,NaN,NaN,2022
72,NaN,28.8,NaN,NaN,NaN,NaN,2023
73,NaN,28.0,NaN,NaN,NaN,NaN,2024

In [6]:
WFH_Data.tail(10)

,date,WFH_share,Source_historical_series,fullremote_hist,Source_fullremote_hist,Notes,year
64,2023-11-01 00:00:00,28.6,SWAA,NaN,NaN,NaN,2023
65,2023-12-01 00:00:00,29.5,SWAA,NaN,NaN,NaN,2023
66,2024-01-01 00:00:00,28.8,SWAA,NaN,NaN,NaN,2024
67,2024-02-01 00:00:00,27.8,SWAA,NaN,NaN,NaN,2024
68,2024-03-01 00:00:00,27.5,SWAA,NaN,NaN,NaN,2024
69,NaN,46.3,NaN,NaN,NaN,NaN,2020
70,NaN,33.6,NaN,NaN,NaN,NaN,2021
71,NaN,30.3,NaN,NaN,NaN,NaN,2022
72,NaN,28.8,NaN,NaN,NaN,NaN,2023
73,NaN,28.0,NaN,NaN,NaN,NaN,2024

In [7]:
filtered_WFH = filtered_WFH.reset_index()

In [8]:
filtered_WFH = pd.concat([filtered_WFH, WFH_Data.loc[WFH_Data['year'] == 2020]])
filtered_WFH = pd.concat([filtered_WFH, WFH_Data.loc[WFH_Data['year'] == 2021]])
filtered_WFH = pd.concat([filtered_WFH, WFH_Data.loc[WFH_Data['year'] == 2022]])
filtered_WFH = pd.concat([filtered_WFH, WFH_Data.loc[WFH_Data['year'] == 2023]])
filtered_WFH = pd.concat([filtered_WFH, WFH_Data.loc[WFH_Data['year'] == 2024]])
filtered_WFH = filtered_WFH.drop_duplicates()
filtered_WFH

,index,date,WFH_share,Source_historical_series,fullremote_hist,Source_fullremote_hist,Notes,year
0,18.0,2015-01-01 00:00:00,6.8,ATUS,3.5,ACS,NaN,2015
1,19.0,2016-01-01 00:00:00,5.9,ATUS,3.9,ACS,NaN,2016
2,20.0,2017-01-01 00:00:00,6.9,ATUS,4.1,ACS,NaN,2017
3,21.0,2018-01-01 00:00:00,5.3,ATUS,4.2,ACS,NaN,2018
4,22.0,2019-01-01 00:00:00,7.2,ATUS,4.7,ACS,NaN,2019
69,NaN,NaN,46.3,NaN,NaN,NaN,NaN,2020
70,NaN,NaN,33.6,NaN,NaN,NaN,NaN,2021
71,NaN,NaN,30.3,NaN,NaN,NaN,NaN,2022
72,NaN,NaN,28.8,NaN,NaN,NaN,NaN,2023
73,NaN,NaN,28.0,NaN,NaN,NaN,NaN,2024

In [9]:
filtered_WFH.to_csv('Work From Home Data/cleaned_WFH.csv',index=False)